:root {
    --xlarge: 170px;
    --large: 28px;
    --medium: 18px;
    --small: 16px;
    --xsmall: 14px;
}

html, body {
    height: 100%; /* 부모 요소의 높이 100%로 설정 */
    margin: 0;    /* 기본 여백 제거 */
    font-family: "Noto Sans KR", sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 부모 요소의 높이에 맞춤 */
}

.main-container {
    display:flex;
    text-align: center;
    align-item:center;
    height: 100%;
}

.main-wrapper{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

/* 시계 */
.main-wrapper .date {
    font-size: var(--large);
    font-weight: 400;
    margin-bottom:15px;
}

.main-wrapper .time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -30px;
}

.bookmark-open {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}

.bookmark-close {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}

.bookmark-open div {
    cursor: pointer;
}

.bookmark-close div {
    cursor: pointer;
}

.bookmark-bar {
    width: 240px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    right: 0px;
    min-height: calc(100vh - 70px);
    padding: 10px 30px;
    color: white;
}

.bookmark-close {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
