:root {
    --xlarge: 170px;
    --large: 28px;
    --medium: 18px;
    --small: 16px;
    --xsmall: 14px;
}

html, body {
    height: 100%; /* 부모 요소의 높이 100%로 설정 */
    margin: 0;    /* 기본 여백 제거 */
    font-family: "Noto Sans KR", sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 부모 요소의 높이에 맞춤 */
}

.main-container .main-wrapper {
    text-align: center;
}

/* 시계 */
.main-wrapper .date {
    font-size: var(--large);
    font-weight: 400;
}

.main-wrapper .time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -35px;
}
