:root {
    --xlarge: 170px;
    --large: 28px;
    --medium: 18px;
    --small: 16px;
    --xsmall: 14px;
}

html, body {
    height: 100%;  /* 부모 요소의 높이 설정 */
    margin: 0;     /* 불필요한 여백 제거 */
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;  /* 100% 너비 설정 */
    font-family: "Noto Sans KR", sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  /* 부모 높이에 맞게 설정 */
}

.main-wrapper {
    text-align: center;
}

/* 시계 */
.main-wrapper .date {
    font-size: var(--large);
    font-weight: 400;
}

.main-wrapper .time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -35px;
}
